* {
	box-sizing: border-box;
}
h1{
	font-size: 1.5em;
}
body{
	font-family:Arial, Helvetica, sans-serif;
}

img {
	float: left;
	border-radius: 50%;
	
	width:72px;
	height:72px;
}

hr {
	width: 75%;
	margin-top: 25px;
	margin-bottom: 25px;
}

.itemsubtext{
	font-size: 20px;
}

.container {
	display: grid;
	grid-gap: 20px;
	grid-auto-rows: 125px;
	grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
	border: 3px;
/* 	max-width: 300px;

 */
}

.item {
	/* background-color: #80cbc4; */
	display:flex;
	border: 1px solid gray;
/* 	filter: drop-shadow(0px 0px 10px rgba(0,0,0, .5)); */
	padding: 20px;
	font-size: 30px;
	text-align: left;
	border-radius: 10px;

}

.itemtext{
	margin-left:20px;
	align-items: center;
}

.item > p {
	font-size: .75em;
	margin: 5px;
	margin-top: 0px;
}

.itemtext > p {
	font-size: .5em;
	margin: 5px;
	margin-top: 0px;
	overflow: hidden;
}

.item:hover{
	background-color:lightgray;
}



.modal {
	/* This way it could be display flex or grid or whatever also. */
	display: block;
	
	/* Probably need media queries here */
	width: 600px;
	max-width: 100%;
	
	height: 500px;
	max-height: 100%;
	
	position: fixed;
	
	z-index: 100;
	
	left: 50%;
	top: 50%;
	
	/* Use this for centering if unknown width/height */
	transform: translate(-50%, -50%);
	
	/* If known, negative margins are probably better (less chance of blurry text). */
	/* margin: -200px 0 0 -200px; */
	
	background: white;
	box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  }
  .closed {
	display: none;
  }
  
  .modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
	
	background: rgba(0, 0, 0, 0.6);
  }
  .modal-guts-orig {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 20px 50px 20px 20px;
  }


  .modal-guts {
	position: absolute;
	top: 0;
	left: 0;
/* 	width: calc(100%-72px); */
	width:100%;
	height: 100%;
	overflow: auto;
	padding: 20px 50px 20px 20px;
  }

  .modal-guts h1{
	text-align: center;	  
  }

  .modal-guts img{
	  float:none;
	  display:block;
	  margin:auto;
	  width: 25%;
	  height: 25%;
  }
  .modal-guts p{
	float:none;
	color: darkgray;
	text-align:center;
	display:block;
	margin:auto;	
	padding-top:5px;	
}

.modal-nav {
	float:right;
	display:block;
	border-radius: 0px;
	margin-top: 10px;
	margin-right:40px;
	width: 32px;
	height: 32px;  
}
.modalContainer {
	
}



  .modal .close-button {
position: relative;
float:right;
	/* don't need to go crazy with z-index here, just sits over .modal-guts */
	z-index: 1;

	top: 10px;
	
	/* needs to look OK with or without scrollbar */
	right: 20px;
	
	border: 0;
	border-radius:50%;
	background: black;
	color: white;
	margin-right:20px;
	padding: 5px 10px;
	font-size: 1rem;
  }

    .modal .close-button {
position: relative;
float:right;
	/* don't need to go crazy with z-index here, just sits over .modal-guts */
	z-index: 1;

	top: 10px;
	
	/* needs to look OK with or without scrollbar */
	right: 20px;
	
	border: 0;
	border-radius:50%;
	background: black;
	color: white;
	margin-right:20px;
	padding: 5px 10px;
	font-size: 1rem;
  }

  .modal .close-button:hover{
	  background:darkgray;
	  color:black;
  }


  .fade { 
    animation: fadein 2s;
   
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}